<script src="js/autocomplete.js"></script>

<div id="mask" class="hidden"></div>

<div class="modal hidden" id="modal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nueva cita</h5>
            {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> --}}
        </div>
        <div class="modal-body">
            <div class="modal-form">

                <form autocomplete="off" action="/ncita" method="post">
                    <div class="modal-form__group modal-form__doc autocomplete">
                        <label for="input-doc">Doctor</label>
                        <input name="doctor" type="text" id="input-doc">
                    </div>
                    <div class="modal-form__group modal-form__cause autocomplete">
                        <label for="input-cause">Causa</label>
                        <input name="cause" type="text" id="input-cause">
                    </div>
                    <div class="modal-form__group modal-form__date">
                        <label for="input-date">Fecha</label>
                        <input name="date" type="date" id="input-date"/>
                    </div>
                    <div class="modal-form__group modal-form__time">
                        <label for="input-time">Hora</label>
                        <input name="time" type="time" id="input-time">
                    </div>
                    <div class="modal-form__submit">
                        <button type="submit" class="btn btn-secondary">Filtrar</button>
                    </div>
                </form>
            </div>
            <div class="modal-events">
                {{#each events}}
                <div class="modal-events__item" ev_id={{this.id}}>
                    <div class="row">
                        <div class="col">
                            <div class="modal-body__item__doc">{{this.doctor.name}}</div>
                        </div>
                        <div class="col">
                            <div class="modal-body__item__date">{{this.date}}</div>
                            <div class="modal-body__item__start">{{this.start}}</div>
                            <div class="modal-body__item__end">{{this.end}}</div>
                        </div>
                    </div>
                    <div class="modal-body__item__esp">{{this.doctor.esp}}</div>
                    <div class="modal-body__item__place">{{this.place}}</div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal__dismiss" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary modal__confirm">Confirmar solicitud</button>
        </div>
        </div>
    </div>
</div>

<script src="js/ncita.js"></script>

<div style="margin: 40px;">
    <div id='calendar'></div>   
</div>
