<div >
<form style="padding: 20px;" action="/admin" method="post">
  <div class="form-group">
    <label for="">Name</label>
    <input id="name" class="form-control" name="name" type="text" placeholder="Default input">
  </div>
  <div class="form-group">
    <label for="">Date</label>
    <input id="date" class="form-control" name="date" type="text" placeholder="Default input">
  </div>
  <div class="form-group">
    <label for="">Doctor</label>
    <input id="doctor" class="form-control" name="doctor" type="text" placeholder="Default input">
  </div>
  <button style="margin-left: 20px;" type="submit" class="btn btn-primary">Search</button>
</form>


</div>

<div class="table-responsive p-4">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID appoimnet</th>
                <th scope="col">Patient name</th>
                <th scope="col">Doctor name</th>
                <th scope="col">Cause</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each citas}}
            <tr>
                <th scope="row"> {{id}} </th>
                <td>{{patientName}} </td>
                <td>{{doctorName}}</td>
                <td>{{causa}}</td>
                <td>{{fechaCita}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



